<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nhv-configuration" type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="Kanc.UI.Properties.Settings.RogowMigratedConnectionString"
      connectionString="Data Source=COA12\SQLEXPRESS2005;Initial Catalog=RogowMigrated;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="Kanc.UI.Properties.Settings.test2ConnectionString" connectionString="Data Source=.;Initial Catalog=test2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings configSource="appSettings.config" />
  <!-- Nhibernate validator -->
  <nhv-configuration xmlns="urn:nhv-configuration-1.0">
    <property name="apply_to_ddl">true</property>
    <property name="autoregister_listeners">true</property>
    <property name="default_validator_mode">UseAttribute</property>
    <mapping assembly="Kanc.Core" />
    <shared_engine_provider class="NHibernate.Validator.Event.NHibernateSharedEngineProvider, NHibernate.Validator" />
  </nhv-configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>