<?xml version="1.0"?>

  <appSettings>
    <add key="InitialDirectoryToSaveReport" value="c:\"/>
    <add key="RaportTemplatePath" value="..\..\Raporty\"/>
    <add key="RaportTemplatePathStrona" value="..\..\Raporty\Strona\"/>
    <add key="RaportTemplatePathEuEwr" value="..\..\Raporty\EUEWR\"/>
    <add key="RaportTemplatePathPodatekNiemcy" value="..\..\Raporty\EST1\"/>

    <!-- EUEWR -->
    <add key="EUEWR_2009_1" value="EUEWR-druk-pl.pdf"/>
    <add key="EUEWR_2009_2" value="EUEWR-druk-de.pdf"/>
    <add key="EUEWR_2009_3" value="EUEWR-druk-oba.pdf"/>
    <add key="EUEWR_2010_1" value="EUEWR-druk-pl.pdf"/>
    <add key="EUEWR_2010_2" value="EUEWR-druk-de.pdf"/>
    <add key="EUEWR_2010_3" value="EUEWR-druk-oba.pdf"/>
    
    <!-- strona niemcy -->
    <add key="StronaNiemcy_1" value="07_C_StronaNiemcy.pdf"/>
    
    <!-- podatek Niemcy-->
    <add key="PodatekNiemcy_2006_2" value="ESt1A2006_C.pdf"/>
    <add key="PodatekNiemcy_2007_2" value="ESt1A2007_C.pdf"/>
    <add key="PodatekNiemcy_2008_2" value="ESt1A2008_C.pdf"/>
    <add key="PodatekNiemcy_2009_2" value="ESt1A2009_C.pdf"/>
    
  </appSettings>

