src/Kanc.Commons/bin/Debug/Iesi.Collections.dll
src/Kanc.Commons/bin/Debug/Iesi.Collections.pdb
src/Kanc.Commons/bin/Debug/Iesi.Collections.xml
src/Kanc.Commons/bin/Debug/Kanc.Commons.dll
src/Kanc.Commons/bin/Debug/Kanc.Commons.pdb
src/Kanc.Commons/bin/Debug/NHibernate.dll
src/Kanc.Commons/bin/
src/Kanc.Commons/obj/
src/Kanc.Core/obj/
src/Kanc.ExtractPdfFields/bin/
src/Kanc.MVP.Core/bin/
src/Kanc.MVP.Core/obj/
src/Kanc.MVP.Tests/bin/
src/Kanc.MVP.Tests/obj/
src/Kanc.MVP/bin/
src/Kanc.MVP/obj/
src/Kanc.UI.Tests/obj/
src/Kanc.UI/bin/
src/Kanc.UI/obj/
src/packages/
src/ThirdParties/NHibernate.Validator.Binding/obj/
src/ThirdParties/NHibernate.Validator/src/NHibernate.Validator.Specific/bin/
src/ThirdParties/NHibernate.Validator/src/NHibernate.Validator.Specific/obj/
src/ThirdParties/NHibernate.Validator/src/NHibernate.Validator/bin/
src/ThirdParties/NHibernate.Validator/src/NHibernate.Validator/obj/
src/ThirdParties/MVCSharp.Tests/bin/
src/ThirdParties/MVCSharp.Tests/obj/
src/ThirdParties/MVCSharp/bin/
src/ThirdParties/MVCSharp/obj/
src/Utils/bin/
src/Utils/obj/
src/Kanc.Tests/obj/
src/Kanc.ExtractPdfFields/obj/
