bin/
obj/
src/packages/
.user

/src/lib/3.0/NHibernate.Validator.Binding.dll
/src/lib/3.0/NHibernate.Validator.Binding.pdb
/src/lib/3.0/NHibernate.Validator.dll
/src/lib/3.0/NHibernate.Validator.pdb
/src/lib/3.0/NHibernate.Validator.xml
/src/lib/3.0/de/NHibernate.Validator.resources.dll
/src/lib/3.0/es/NHibernate.Validator.resources.dll
/src/lib/3.0/fa/NHibernate.Validator.resources.dll
/src/lib/3.0/fr/NHibernate.Validator.resources.dll
/src/lib/3.0/hr/NHibernate.Validator.resources.dll
/src/lib/3.0/it/NHibernate.Validator.resources.dll
/src/lib/3.0/lv/NHibernate.Validator.resources.dll
/src/lib/3.0/nl/NHibernate.Validator.resources.dll
/src/lib/3.0/pl/NHibernate.Validator.resources.dll
/src/lib/3.0/pt-BR/NHibernate.Validator.resources.dll
