<?xml version="1.0"?>
<configuration>
  
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
      <section name="nhv-configuration" type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator"/>
    </configSections>

  <appSettings configSource="appSettings.config"/>

  <!-- Nhibernate validator -->
  <nhv-configuration xmlns="urn:nhv-configuration-1.0">
    <property name="apply_to_ddl">true</property>
    <property name="autoregister_listeners">true</property>
    <property name="default_validator_mode">UseAttribute</property>
    <mapping assembly="Kanc.Core"/>
    <shared_engine_provider class="NHibernate.Validator.Event.NHibernateSharedEngineProvider, NHibernate.Validator"/>
  </nhv-configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
